@font-face {
  font-family: 'Vilaka';
  src: url('/assets/fonts/Vilaka\ Modern\ Serif\ Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* webGL */
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: 0;
    pointer-events: none;
}


/* html */
html, body {
    height: 100%;
    margin: 0;
    /* overflow: hidden;     */
    background-image: url('/assets/frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#title {
    font-family: 'Vilaka';
    font-size: 100px;
    color: white;    
    position: absolute;
    z-index: 2;
}

.container-fluid {
    height: 100%;
    /* background-color: red;     */
    z-index: 1;
}






