body {
    margin: 0;
    overflow: hidden;    
    background-image: url('/assets/frame.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* html */
.title {
    font-family: helvetica;
    font-size: 125px;
    color: red;    
    position: absolute;
}

/* webGL */
canvas {
    display: block;
}

